<!--DATA FILLING IN HTML TO MINIMIZE CODE REDUNDANCY WHEN CREATING OTHER PAGES-->
<br>

<!--Random Data to fill in the Pages-->

<div class="col">
    <div class="col-md">
        <div class="card text-center text-white mb-3" id="total-cases">
            <div class="card-header">
                <h5 class="card-title"> Total Cases</h5>
            </div>
            <div class="card-body">
                <h3 class="card-title"></h3>
            </div>
        </div>
    </div>
</div>
<div class="col">
    <div class="col-md">
        <div class="card text-center text-white mb-3" id="cases-pending">
            <div class="card-header">
                <h5 class="card-title"> Cases Pending</h5>
            </div>
            <div class="card-body">
                <h3 class="card-title"></h3>
            </div>
        </div>
    </div>
</div>
<div class="col">
    <div class="col-md">
        <div class="card text-center text-white mb-3" id="cases-complete">
            <div class="card-header">
                <h5 class="card-title"> Complete Cases</h5>
            </div>
            <div class="card-body">
                <h3 class="card-title"></h3>
            </div>
        </div>
    </div>
</div>
<div class="col">
    <div class="col-md">
        <div class="card text-center text-white mb-3" id="cases-to-be-reviewed">
            <div class="card-header">
                <h5 class="card-title"> Cases to be Reviewed</h5>
            </div>
            <div class="card-body">
                <h3 class="card-title"></h3>
            </div>
        </div>
    </div>
</div>
<div class="col">
    <div class="col-md">
        <div class="card text-center text-white mb-3" id="report-filed">
            <div class="card-header">
                <h5 class="card-title"> Reports Filed</h5>
            </div>
            <div class="card-body">
                <h3 class="card-title"></h3>
            </div>
        </div>
    </div>
</div>
<div class="col">
    <div class="col-md">
        <div class="card text-center text-white mb-3" id="criminal-activities-found">
            <div class="card-header">
                <h5 class="card-title"> No. of Criminal Activities Found</h5>
            </div>
            <div class="card-body">
                <h3 class="card-title"></h3>
            </div>
        </div>
    </div>
</div>
<div class="col">
    <div class="col-md">
        <div class="card text-center text-white mb-3" id="located-criminal-activities">
            <div class="card-header">
                <h5 class="card-title"> Located Criminal Activities</h5>
            </div>
            <div class="card-body">
                <h3 class="card-title"></h3>
            </div>
        </div>
    </div>
</div>