<!--MAIN TEMPLATE HTML AND CSS TO MINIMIZE CODE REDUNDANCY WHEN CREATING OTHER PAGES-->
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title> Dutch Police Internet Forensics Systems </title>

  
<!--Stylesheet CSS-->
  <style>
body{
    background-color: #b5b5b5;
}

.col{
    
    padding:10px;
 
    background-color: rgb(96, 144, 147);
    text-align: center;
}


</style>

</head>
  <body>
   
        {% include 'internetForensics/navbar.html' %} <!-- inheritance of files -->

    {% block content %}



    {% endblock %}

    <hr>

    <h5> <center> &copy; <script>document.write(new Date().getFullYear())</script>. All rights reserved.</center> </h5>

</body>
</html>